<div id="register">

    <div class="col-sm-4 col-sm-offset-4">
        <div class="wrapper">
            <h1>Registration</h1>
            {% if data.errors %}
                {% include  "/errors/errors.tmpl" with data.errors %}
            {% endif %}
            <form method="post" action="/user/register">
                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
                    <label class="sr-only" for="Email">Email</label>
                    <input type="email" name="email" class="form-control" id="Email" placeholder="Email">
                </div>
                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                    <label class="sr-only" for="Password">Password</label>
                    <input type="password" name="password" class="form-control" id="Password" placeholder="Password">
                </div>
                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                    <label class="sr-only" for="Password2">Re-type Password</label>
                    <input type="password" name="password2" class="form-control" id="Password2" placeholder="Re-type Password">
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-danger">Register</button>
                    </div>
                </div>
                <div class="input-group pull-right">
                    <p class="help-block"><a href="/user/login">Already have account? Click here</a></p>
                </div>
            </form>

        </div>
    </div>

</div>