<!DOCTYPE html>
<html lang="ru">
    {% include "/parts/head.html" with data %}
    <body>
        {% include "/parts/navbar.tmpl" %}
        <div class="container">
            {% include  template with data %}
        </div>
        {% include "/parts/footer.html" %}
    </body>
</html>