<section id="breadcrumbs">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-6 pink">
                <span class="h3">NEW ARRIVALS</span>
            </div>
            <div class="col-md-6 text-right">
                <a href="/">HOME</a>/<a href="/">MEN</a>/<span class="pink">NEW ARRIVALS</span>
            </div>
        </div>
    </div>
</section>