<div id="info-links">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-5 about">
                {% include "/partials/blocks/logo.tmpl" %}
                <p>Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships.</p>
                <p>Efficiently plagiarize 24/365 action items and focused infomediaries.Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.</p>
            </div>

            <div class="col-md-7">
                <div class="col-md-4">
                    <p class="info-menu-title pink">COMPANY</p>
                    <ul class="info-links">
                        <li><a href="">Home</a></li>
                        <li><a href="">Shop</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">How it works</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <p class="info-menu-title pink">INFORMATION</p>
                    <ul class="info-links">
                        <li><a href="">Tearms & Condition</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">How to Buy</a></li>
                        <li><a href="">How to Sell</a></li>
                        <li><a href="">Promotion</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <p class="info-menu-title pink">SHOP CATEGORY</p>
                    <ul class="info-links">
                        <li><a href="">Men</a></li>
                        <li><a href="">Women</a></li>
                        <li><a href="">Child</a></li>
                        <li><a href="">Apparel</a></li>
                        <li><a href="">Brows All</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>