<div class="media">
    <div class="media-left media-middle">
        <img class="media-object" src="/img/logo.png" alt="">
    </div>
    <div class="media-body brand">BRAN<span class="pink">D</span>
    </div>
</div>