<section id="featured">
    <div class="wrapper offer">
        <div class="row">
            <div class="col-md-8 offer-div offer-img">
                <img src="/img/offer.png">
                <div class="offer-text">
                    <p>30% <span class="pink">OFFER</span></p>
                    <p>FOR WOMEN</p>
                </div>
            </div>
            <div class="col-md-4 offer-div">
                <div class="feature-box">
                    <img src="/img/offerbox1.png">
                    <div class="offer-box-text">
                        <p>Free Delivery</p>
                        <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
                    </div>
                </div>
                <div class="feature-box">
                    <img src="/img/offerbox2.png">
                    <div class="offer-box-text">
                        <p>Sales & discounts</p>
                        <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
                    </div>
                </div>
                <div class="feature-box">
                    <img src="/img/offerbox3.png">
                    <div class="offer-box-text">
                        <p>Quality assurance</p>
                        <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>