<div id="offer2">
    <div class="wrapper vertical-center">
        <div class="col-md-4">
            <div class="feature-box2">
                <img src="/img/offerbox1.png">
                <div class="offer-box2-text">
                    <p>Free Delivery</p>
                    <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="feature-box2">
                <img src="/img/offerbox2.png">
                <div class="offer-box2-text">
                    <p class="offer-box-title">Sales & discounts</p>
                    <p class="offer-box-content">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="feature-box2">
                <img src="/img/offerbox3.png">
                <div class="offer-box2-text">
                    <p class="offer-box-title">Quality assurance</p>
                    <p class="offer-box-content">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
                </div>
            </div>
        </div>
    </div>
</div>