<div id="subscribe">
    <div class="subscribe-img">
        <img src="/img/subscribe.png" alt="">
        <div class="wrapper">
            <div class="col-md-6 vertical-center">
                <div class="row">
                    <div id="testimonials" class="carousel slide" data-ride="carousel">

                        <!-- Indicators -->
                        <ol class="carousel-indicators testimonials">
                            <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                            <li data-target="#testimonials" data-slide-to="1"></li>
                            <li data-target="#testimonials" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">

                            <div class="item active">
                                <div class="media quote">
                                    <div class="media-left media-top">
                                        <img class="media-object" src="/img/quote-face.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <p><i>"Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”</i></p>
                                        <p class="pink">Bin Burhan</p>
                                        <small>Dhaka, Bd</small>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="media quote">
                                    <div class="media-left media-top">
                                        <img class="media-object" src="/img/quote-face.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <p><i>"Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”</i></p>
                                        <p class="pink">Bin Burhan</p>
                                        <small>Dhaka, Bd</small>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="media quote">
                                    <div class="media-left media-top">
                                        <img class="media-object" src="/img/quote-face.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <p><i>"Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”</i></p>
                                        <p class="pink">Bin Burhan</p>
                                        <small>Dhaka, Bd</small>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 vertical-center">
                <div class="row text-center">
                    <p class="subscribe-title">SUBSCRIBE</p>
                    <p class="subscribe-comment">FOR OUR NEWLETTER AND PROMOTION</p>
                    <form class="subscribe-form wrapper">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your email">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Subscribe</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>